* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(243, 217, 195);
}

h1 {
  font-size: 1.5rem;
}
main {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  border-radius: 8px;
  background-color: white;
  width: 25rem;
  height: 25rem;
  flex-wrap: wrap;
}
#amount {
  display: flex;
  flex-direction: column;
}
#value {
  border-color: rgb(231, 229, 229);
  border-radius: 7px;
  height: 2rem;
}

#countries {
  display: flex;
  flex-direction: row;
  gap: 10rem;
}

#from-country,
#to-country {
  display: flex;
  flex-direction: column;
}
